#total {
	position: absolute;
	top: 100px;
	width: 100%;
	bottom: 0px;
	padding: 0;
	margin: 0;
}

#right {
	position: absolute;
    /*background-color: #026C7C;*/
    z-index: 1;
	left: 35%;
	top: 0px;
	width: 65%;
	height: 100%;
	margin: 0;
	padding: 0;
}
